<div class=row>
  twIRCk is an IRC client for OS X that makes IRC fun, easy and secure. Built specifically to take advantage of the technologies in OS X, twIRCk provides a beautiful, streamlined interface that is elegant and powerful.
</div>
<div class=row>
  <div class=span4>
    <a href="assets/image3.png">
      <%= image_tag("image3-small.png"); %>
    </a>
  </div>

  <div class="span4 center">
    <%= image_tag('twirck.icon.small.png') %>
  </div>

  <div class=span4>
    <a href="assets/image2.png">
      <%= image_tag("image2-small.png"); %>
    </a>
  </div>
</div>
