<div class=span4>
  <a href="assets/image3.png">
    <%= image_tag("image3-small.png"); %>
  </a>
</div>

<div class="span4 center">
  <h4>Available soon on the Mac App Store</h4>
</div>

<div class=span4>
  <a href="assets/image2.png">
    <%= image_tag("image2-small.png"); %>
  </a>
</div>
