<div class=span4>
  <%= image_tag("image3-small.png"); %>
</div>

<div class="span4 center">
  <h4>Available soon on the Mac App Store</h4>
</div>

<div class=span4>
  <%= image_tag("image2-small.png"); %>
</div>
