<h1>Privacy</h1>
<span>twIRCk takes your privacy very seriously. Our goal when started this project was to write a native IRC client that was</span>
<ul>
  <li>secure</li>
  <li>open</li>
  <li>fast</li>
  <li>beautiful</li>
</ul>

<span>Let's focus on the first two points for a moment.</span>

<h2>What does it mean to be secure?</h2>
<span>A secure app should never leak your information, or allow users to be taken advantage of in any way shape or form. twIRCk.app encourages users to use SSL to connect to IRC networks, so that no one can read your messages other than your intended recipients.</span>

<h2>What does it mean to be open?</h2>
<span>An open application has nothing to hide. We intended for twIRCk to be the best IRC client, hands down, despite the competition having several years worth of head starts. twIRCk is the only IRC client of its caliber that is open source. Report a bug or vulnerability and you'll be enshrined forever in the history of twIRCk</span>
